* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    position: relative;
    z-index: 1;
}
#welcome-section {
    min-height: 100vh;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
h1 {
    color: aliceblue;
}
section {
    padding: 80px 10px;
}
#welcome-section {
    background-color: blueviolet;
}
@media only screen and (max-width: 600px) {
    section {
        padding: 40px 5px;
    }
}